<mat-slider style="margin-top: 70px;" min="1" max="100" step="1" value="1"></mat-slider>
<mat-card class="example-card">
    <mat-card-header>
        <!-- <mat-icon>more_vert</mat-icon> -->
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>MR. X</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
</mat-card>
<section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
</section>
<p>
    <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
</p>

<p>
    <span matBadge="1" matBadgeSize="large">Text with large badge</span>
</p>